.medio-paraiba{
	position:absolute;
	top: 437px;
}

.centro-sul{
	position:absolute;
	left: 335px;
	top: 380px;
}

.metropolitana{
	position:absolute;
	left: 308px;
	top: 578px;
}

.lagos{
	position:absolute;
	left: 590px;
	top: 540px;
}

.serrana{
	position:absolute;
	left: 475px;
	top: 323px;
}

.norte{
	position:absolute;
	left: 825px;
	top: 153px;
}

.noroeste{
	position:absolute;
	left: 788px;
}

.medio-paraiba h1{
	position: relative;
	left: 200px;
	top: 200px;
}

.centro-sul h1{
	position: relative;
	left: 80px;
	top: 200px;
}

.metropolitana h1{
	position: relative;
	left: 130px;
	top: 180px;
}

.serrana h1{
	position: relative;
	left: 270px;
	top: 150px;
}

.norte h1{
	position: relative;
	left: 250px;
	top: 250px;
}

.noroeste h1{
	position: relative;
	left: 120px;
	top: 200px;
}

.medio-paraiba h1{
	position: relative;
	left: 150px;
	top: 150px;
}

.lagos h1{
	position: relative;
	left: 200px;
	top: 170px;
}