body{
	background: url('images/background.jpg');

}


#map{
	position: relative;
	left: 100px;
}

#bottons{
	position: fixed;
	left: 46%;
	top: 12%;
}


.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.continente{
	cursor: pointer;
}

.continente img:hover{
	filter: brightness(0.8);
}

#medio-paraiba{
	position:absolute;
	top: 441px;
	left: 7px;
}

#centro-sul{
	position:absolute;
	left: 335px;
	top: 383px;
}

#metropolitana{
	
	position:absolute;
	left: 308px;
	top: 578px;
}

#lagos{
	
	position:absolute;
	left: 590px;
	top: 540px;
}

#serrana{
	position:absolute;
	left: 475px;
	top: 323px;
}

#norte{
	
	position:absolute;
	left: 825px;
	top: 153px;
}

#noroeste{
	position:absolute;
	left: 788px;
	top: 10px;
}

#medio-paraiba h1{
	position: relative;
	left: 240px;
	bottom: 220px;
}

#centro-sul h1{
	position: relative;
	left: 120px;
	bottom: 140px;
}

#metropolitana h1{
	position: relative;
	left: 130px;
	bottom: 140px;
}

#serrana h1{
	position: relative;
	left: 240px;
	bottom: 180px;
}

#norte h1{
	position: relative;
	left: 250px;
	bottom: 250px;
}

#noroeste h1{
	position: relative;
	left: 120px;
	bottom: 200px;
}

#lagos h1{
	position: relative;
	left: 200px;
	bottom: 140px;
}
